{{define "static"}}
<script src="/static/scripts/metrics.js" defer type="module"></script>
<link rel="stylesheet" type="text/css" href="/static/styles/metrics.css" />
{{end}}

{{template "layout" .}}
{{define "content"}}
<div>
    <h1>Metrics</h1>
    <nav>
        <a href="#metrics">Your Metrics</a>
        <a href="#new-metric">New Metric</a>
    </nav>
    <h2 id="metrics">Your Metrics</h2>
    {{if .Metrics.Metrics}}
    <!-- todo: implement -->
    <label for="search-box">Search metrics <a href="">?</a></label>
    <input type="search" placeholder="Running, :bool, etc." id="search-box" />
    <input type="button" value="Refresh" id="refresh-btn" />
    <table>
        <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Frequency</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            {{range .Metrics.Metrics}}
            <tr>
                <td>{{ .Name }}</td>
                <td>{{ .Description }}</td>
                <td>{{ .Type }}</td>
                <td>{{ .Frequency }}</td>
                <td><a href="/logs/latest/{{.Name}}">Latest</a></td>
                <td><a href="/metrics/edit/{{.Name}}">Edit</a></td>
            </tr>
            {{end}}
        </tbody>
    </table>
    {{end}}

    {{if .Error}}
    <p>{{.Error}}</p>
    {{end}}

    <h2 id="new-metric">Add a New Metric</h2>
    <noscript>JavaScript is required to submit a new metric.</noscript>
    <form>
        <label for="metric-name">Name <a href="">?</a></label>
        <input id="metric-name" type="text" placeholder="Running, weight, etc." pattern="[a-zA-Z0-9]{3,256}" />

        <fieldset>
            <legend>Metric information</legend>

            <label for="metric-description">Description <a href="">?</a></label>
            <input id="metric-description" type="text" placeholder="Distance run, how much I weighed, etc."
                pattern="[a-zA-Z0-9]{3,256}" />

            <label for="metric-type">Type <a href="">?</a></label>
            <select id="metric-type">
                <option value="text">Text</option>
                <option value="boolean">True/False</option>
                <option selected value="number">Number</option>
            </select>
            <label for="metric-frequency">Frequency <a href="">?</a></label>

            <select id="metric-frequency">
                <option selected value="daily">Daily</option>
                <option value="weekly">Weekly</option>
                <option value="biweekly">Biweekly</option>
                <option value="monthly">Monthly</option>
                <option value="yearly">Yearly</option>
                <option value="custom" disabled>Custom</option>
            </select>
        </fieldset>

        <input id="metric-create" type="button" value="Create" disabled />
    </form>
    <div id="results">
        <svg class="hidden" id="error-icon" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <svg class="hidden" id="close-icon" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
    </div>
</div>
{{end}}