{{define "static"}}
<script src="/static/scripts/index.js" defer type="module"></script>
{{end}}

{{template "layout" .}}
{{define "content"}}
<div>
    <h1>{{.Date}}</h1>
    <p>at {{.Time}}</p>
    {{if .NeedsLogging}}
    <label for="search-box">Search logs <a href="">?</a></label>
    <input type="search" placeholder="Running, :bool, etc." id="search-box" />
    <table>
        <thead>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </thead>
        <tbody>
            {{range .NeedsLogging}}
            <tr>
                <td>{{ .Name }}</td>
                <td>{{ .Description }}</td>
                <td data-type="{{.Type}}" data-validator=""></td>
            </tr>
            {{end}}
        </tbody>
    </table>
    <input type="button" value="Save" id="save-btn" />
    <div class="results"></div>
    {{else}}
    <p>Nothing to log right now. Check back later!</p>
    {{end}}
</div>
{{end}}