.content {
    text-align: left;
    max-width: 900px;
    margin: 0 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

.content nav,
.content nav a {
    padding: 0;
    margin: 0;
}

.content nav a,
.content nav a:visited {
    font-size: 12pt;
    margin: 0 0.75rem 0 0 !important;
    display: inline;
    opacity: 0.7;
    color: var(--quaternary);
    text-decoration: none;
}

.content nav a:hover,
.contet nav a:focus {
    color: var(--highlight);
    opacity: 1;
}

.content p {
    color: var(--quaternary);
}
