:root {
    --yellow: #ffc02c;
    --green: #15ffb6;
    --blue: #15d3ff;
    --mid-blue: #5086ff;
    --dark-blue: #155eff;
    --purple: #b615ff;
    --red: #ff155e;

    --dark-one: #141414;
    --dark-two: #212121;
    --dark-three: #3a3a3a;
    --dark-four: #474747;

    --light-one: #eee;
    --light-two: #d5d5d5;
    --light-three: #c8c8c8;
    --light-four: #7a7a7a;

    --highlight: var(--blue);
    --highlight-dark: var(--purple);

    --primary: var(--light-one);
    --secondary: var(--dark-one);
    --tertiary: var(--dark-two);
    --quaternary: var(--light-two);
    --quinary: var(--dark-four);
    --senary: var(--light-three);
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: var(--dark-one);
        --secondary: var(--light-one);
        --tertiary: var(--light-three);
        --quaternary: var(--dark-two);
        --quinary: var(--light-four);
        --senary: var(--dark-four);
    }
}

body {
    padding: 10px;
    max-width: 900px;
    background-color: var(--primary);
    color: var(--secondary);
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

p {
    font-weight: 400;
    font-size: 1.125rem;
}

h1 {
    margin: 0.5rem 0;
    font-size: 3.052rem;
}

h2 {
    margin: 0.4rem 0;
    font-size: 2.441rem;
}

h3 {
    margin: 0.3rem 0;
    font-size: 1.953rem;
}

h4 {
    margin: 0.2rem 0;
    font-size: 1.563rem;
}

h5 {
    margin: 0.2rem 0;
    font-size: 1.25rem;
}

h6 {
    margin: 0.2rem 0;
    font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--tertiary);
    font-weight: 600;
    font-family: var(--headings);
}

hr {
    border: 0;
    border-top: 3px solid var(--quaternary);
    width: 100%;
    margin: 1rem auto;
    border-radius: 1px;
}

a {
    color: var(--mid-blue);
    text-decoration: none;
}

a:visited {
    color: var(--purple);
}

a:hover {
    opacity: 0.8;
    text-decoration: underline;
}

nav {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;

    margin: 0 !important;
    padding: 0.5rem 0;
    width: 100%;
    padding: 0.5rem 0;
}

nav a,
nav a:visited,
footer a {
    font-size: 13px;
    opacity: 0.7;
    margin: 0 1.5rem 0 0;
}

nav a,
nav a:visited,
footer a:visited,
footer a {
    color: var(--secondary);
}

nav a:hover {
    opacity: 1;
}

nav:first-child {
    margin-left: 0.6rem;
}

nav a,
nav a:visited,
footer a {
    color: var(--tertiary);
    text-decoration: none;
}

nav a:hover,
footer a:hover {
    text-decoration: underline;
}

input,
select {
    box-sizing: border-box;
    display: block;

    background-color: var(--quaternary);
    color: var(--secondary);
    outline: none;
    border: none;

    padding: 1rem 0 1rem 1rem;
    margin: 0.5rem 0;
    font-size: 1.12rem;
    border: 2px solid transparent;

    width: 100%;
}

input:hover {
    border: 2px solid var(--quinary);
}

input:focus {
    border: 2px solid var(--quinary);
}

input:invalid,
.invalid {
    border: 2px solid var(--red) !important;
}

fieldset {
    color: var(--tertiary);
    border: 2px solid var(--quaternary);
    border-radius: 4px;
}

legend {
    font-size: 18pt;
    color: var(--tertiary);
    padding: 5px;
}

:disabled {
    opacity: 0.7;
}

:disabled:hover {
    cursor: not-allowed;
    border: 2px solid var(--quaternary) !important;
    background-color: var(--quaternary) !important;
}

input[type='button'] {
    text-transform: uppercase;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

input[type='button']:hover {
    border: 2px solid var(--dark-blue);
    background-color: var(--dark-blue);
}

label {
    display: block;
    font-size: 16pt;
    font-weight: 500;
}

label a {
    text-decoration: none;
}

details {
    background-color: var(--quaternary);
    margin: 0.5em 0;
    padding: 0.5em 1em;
}

summary {
    border-bottom: 2px solid var(--senary);
    padding: 0.5em;
    cursor: pointer;
    font-size: 1.25rem;
    outline: none;
}

summary:focus {
    box-shadow: var(--shadow);
}

details:target {
    box-shadow: 0 0 0 4px var(--senary);
}

table,
thead,
tbody {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    overflow: scroll;
}

thead {
    border-bottom: 2px solid var(--senary);
}

th {
    padding: 0.5rem;
    font-weight: normal;
    font-size: 14pt;
    color: var(--tertiary);
    background-color: var(--quaternary);
}

td {
    font-size: 1.12rem;
    color: var(--tertiary);
    padding: 0.25rem 0.5rem;
}

td input {
    padding: 0.5rem 0 0.5rem 1rem;
}

tr:nth-child(even) {
    background-color: var(--quaternary);
}

tr:last-child {
    border-bottom: 2px solid var(--senary);
}

.hidden {
    display: none;
}
