<nav>
    <style>
        a {
            color: var(--highlight);
            margin: auto 0.5% auto 0;
            text-decoration: none;
        }

        a:visited {
            color: var(--highlight-dark);
        }

        a:hover,
        a:focus {
            text-decoration: underline;
        }
    </style>
    <a href="/about/">About</a>
    <a href="https://github.com/EthanJustice/hawk">GitHub</a>
</nav>