.nav,
.secondary-nav {
    display: flex;
    flex-flow: column;

    background-color: var(--nav-background);
    height: 100%;
    text-align: center;
}

.secondary-nav {
    color: var(--secondary);
    background-color: var(--nav-background-secondary) !important;
}

@media screen and (max-width: 768px) {
    .nav,
    .secondary-nav {
        padding: 0 !important;
        margin: 0 !important;
        max-height: 2em;
        width: 100%;
        flex-flow: row wrap !important;
        justify-content: center;
    }

    nav a {
        margin: 0 !important;
        display: inline;
    }

    nav a p {
        display: none;
    }

    svg {
        width: 0.5rem;
        height: 0.5rem;
    }
}

nav a {
    font-size: 10pt;
    padding: 0.25rem 0.5rem;
    margin: 0.5rem 0.15rem;
}

nav a > * {
    margin: 0;
}

svg {
    width: 1.5rem;
    height: 1.5rem;
    stroke: var(--quaternary);
    margin: 0 auto;
    padding: 0;
}

a,
a:visited {
    display: block;
    opacity: 0.7;
    color: var(--quaternary);
    text-decoration: none;
}

a:hover,
nav a:focus {
    color: var(--highlight);
    opacity: 1;
}

a:hover svg,
a:focus svg {
    stroke: var(--highlight);
}
